.menu {
    background-color: rgb(190, 190, 190);
}

.html-list {
    background-color:rgb(224, 148, 98);
}

.css-list {
    background-color: rgb(97, 140, 219);
}

.js-list {
    background-color: rgb(248, 230, 124);
}